html {
    box-sizing: border-box;
    font-size: 10px;
    background: rgb(105, 0, 61);
  }
  
  body {
    margin: 0px;
    text-align: center;
    font-family: monospace;
  }
  
  .timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .timer__controls {
    display: flex;
  }
  
  .timer__controls > * {
    flex: 1;
  }
  
  .timer__controls form {
    flex: 1;
    display: flex;
  }
  
  .timer__controls input {
    flex: 1;
    border: 0;
    padding: 2rem;
  }
  
  .timer__button {
    background: none;
    border: 0;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    font-family: monospace;
  }
  
  .timer__button:hover,
  .timer__button:focus
   {
    background: rgba(0,0,0,0.2);
    outline: 0;
  }
  
  .display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .time-left {
    font-weight: 100;
    font-size: 20rem;
    margin: 0;
    color: white;
    
  }
  
  .end-time {
    color: white;
    font-size: 4rem;
  }

  .iconspaus{
    cursor: pointer;
    height: 34px;
    padding-right: 15px;
  }
  
  
  
  